<!-- FORGOT PASSWORD COMPONENT -->
<div class="forgot-password-page">
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <!-- TITLE -->
          <h1>{{ 'ForgotPassword.ForgotPasswordTitle' | translate }}</h1>
          <!-- EMAIL, PASSWORD, AND VERIFY PASSWORD -->
          <form role="form">
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" ng-model="name" class="form-control input-underline input-lg" id="name" placeholder="Email">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control input-underline input-lg" id="checkPassword" placeholder="Re-enter Password">
                  </div>
              </div>
              <!-- CHANGE PASSWORD AND GO TO LOGIN -->
              <a class="btn rounded-btn" [routerLink]="['/login']"> Change Password </a>
          </form>
      </div>
  </div>
</div>
